<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css">
    <title>Your Website</title>
</head>
<body>

    <!-- <div id="dashboard">
        <div class="dashboard-container">
            <div >
                <img class="logo" src="logo.png" alt="logo here">
            </div>
            hello
        </div>
    </div> -->
    <div id="dashboard">
        <div class="logo">
            <img src="logo.png" alt="Logo">
        </div>
        <div class="search-bar-container">
            <input type="text" placeholder="Search" class="search-bar">
        </div>
        <div class="buttons">
            <img src="OIP.jpeg" class="ham-dots">
        </div>
        <!-- <div class="button"> 
             <button id="notifications">Notifications</button>
            <button id="upload">Upload</button>
            <button id="settings">Settings</button>
            <button id="account">Account</button> -->
        <!-- </div> -->
    </div>
        <!-- <h1>Dashboard</h1> -->
        <!-- Add your dashboard content here -->
    </div>
    <div id="body-container">
        <div id="content-container">
            <div id="feed">
                <h2>Feed Section</h2>
                <div class="post">
                    <div class="profile">
                        <img src="profile-pic.jpg" alt="Profile Picture" class="profile-pic">
                        <div class="profile-info">
                            <div class="profile-name">Rushikesh Gaikwad</div>
                            <div class="profile-username">@Gay_Rushi</div>
                        </div>
                        <div class="time">
                            1 day ago
                        </div>
                    </div>
                    <div class="post-title">
                        WHO IS GAY
                    </div>
                    <div class="post-content">
                        VEDUUUUU!!!
                    </div>
                </div>
                <div class="post">
                    <div class="profile">
                        <img src="profile-pic.jpg" alt="Profile Picture" class="profile-pic">
                        <div class="profile-info">
                            <div class="profile-name">Vedant Deshmukh</div>
                            <div class="profile-username">@God_Vedant</div>
                        </div>
                        <div class="time">
                            2 sec ago
                        </div>
                    </div>
                    <div class="post-title">
                        WHO IS GOD
                    </div>
                    <div class="post-content">
                        VEDANT!!!
                    </div>
                </div>
                <div class="post">
                    <div class="profile">
                        <img src="profile-pic.jpg" alt="Profile Picture" class="profile-pic">
                        <div class="profile-info">
                            <div class="profile-name">FirstName LastName</div>
                            <div class="profile-username">@username</div>
                        </div>
                        <div class="time">
                            1 hour ago
                        </div>
                    </div>
                    <div class="post-title">
                        Post Title
                    </div>
                    <div class="post-content">
                        Post Content
                    </div>
                </div>
                <div class="post">
                    <div class="profile">
                        <img src="profile-pic.jpg" alt="Profile Picture" class="profile-pic">
                        <div class="profile-info">
                            <div class="profile-name">FirstName LastName</div>
                            <div class="profile-username">@username</div>
                        </div>
                        <div class="time">
                            1 hour ago
                        </div>
                    </div>
                    <div class="post-title">
                        Post Title
                    </div>
                    <div class="post-content">
                        Post Content
                    </div>
                </div>
                <div class="post">
                    <div class="profile">
                        <img src="profile-pic.jpg" alt="Profile Picture" class="profile-pic">
                        <div class="profile-info">
                            <div class="profile-name">FirstName LastName</div>
                            <div class="profile-username">@username</div>
                        </div>
                        <div class="time">
                            1 hour ago
                        </div>
                    </div>
                    <div class="post-title">
                        Post Title
                    </div>
                    <div class="post-content">
                        Post Content
                    </div>
                </div>
                <div class="post">
                    <div class="profile">
                        <img src="profile-pic.jpg" alt="Profile Picture" class="profile-pic">
                        <div class="profile-info">
                            <div class="profile-name">FirstName LastName</div>
                            <div class="profile-username">@username</div>
                        </div>
                        <div class="time">
                            1 hour ago
                        </div>
                    </div>
                    <div class="post-title">
                        Post Title
                    </div>
                    <div class="post-content">
                        Post Content
                    </div>
                </div>
                <!-- Add more posts if needed -->
            </div>
            <div id="sidebar">
                <h2>Sidebar Section</h2>
                <div class="sidebar-container">
                    <div class="sidebar-title">
                        Sidebar Title
                    </div>
                    <div class="sidebar-content">
                        Sidebar Content Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, sint? Lorem ipsum dolor sit amet.
                    </div>
                </div>
                <div class="sidebar-container">
                    <div class="sidebar-title">
                        Sidebar Title
                    </div>
                    <div class="sidebar-content">
                        Sidebar Content Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, sint? Lorem ipsum dolor sit amet.
                    </div>
                </div>
                <div class="sidebar-container">
                    <div class="sidebar-title">
                        Sidebar Title
                    </div>
                    <div class="sidebar-content">
                        Sidebar Content Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, sint? Lorem ipsum dolor sit amet.
                    </div>
                </div>
                <div class="sidebar-container">
                    <div class="sidebar-title">
                        Sidebar Title
                    </div>
                    <div class="sidebar-content">
                        Sidebar Content Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, sint? Lorem ipsum dolor sit amet.
                    </div>
                </div>
                <div class="sidebar-container">
                    <div class="sidebar-title">
                        Sidebar Title
                    </div>
                    <div class="sidebar-content">
                        Sidebar Content Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, sint? Lorem ipsum dolor sit amet.
                    </div>
                </div>
                <!-- Add your sidebar content here -->
            </div>
        </div>
    </div>

</body>
</html>
